* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5eff5;
}

body main {
  width: 50vw;
  min-height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4rem 0rem 2rem 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 10px gray;
          box-shadow: 0 3px 10px gray;
  border-radius: 12px;
}

body main section.top {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 12px 12px 0px 0px;
}

body main section.top h1 {
  color: #2ab2af;
}

body main section.top h2 {
  color: #c0df34;
  padding: 1rem 0rem;
}

body main section.top p {
  color: #98a6bd;
}

body main section.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main section.bottom div.left {
  background-color: #2ab2af;
  color: white;
  padding: 1.5rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 175px;
          flex: 1 2 175px;
  border-radius: 0px 0px 0px 12px;
}

body main section.bottom div.left div.fee {
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.bottom div.left div.fee #dollar {
  padding: 0rem 0.5rem 0rem 0rem;
  font-size: 26px;
  font-weight: bold;
}

body main section.bottom div.left div.fee #mth {
  color: #e5eff5;
}

body main section.bottom div.left a {
  margin: 1rem 0rem;
  padding: 1rem 0rem;
  display: inline-block;
  width: 18vw;
  text-align: center;
  text-decoration: none;
  background-color: #c0df34;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 10px gray;
          box-shadow: 0 3px 10px gray;
}

body main section.bottom div.right {
  background-color: #4dcbc9;
  color: white;
  padding: 1.5rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 175px;
          flex: 1 2 175px;
  border-radius: 0px 0px 12px 0px;
}

body main section.bottom div.right p {
  padding: 1rem 0rem;
}

@media screen and (max-width: 1000px) {
  body main {
    width: 80%;
  }
}

@media screen and (max-width: 505px) {
  body main {
    margin: 2rem 0rem 2rem 0rem;
  }
  body main section.bottom div.left {
    border-radius: 0px 0px 0px 0px;
    padding: 1rem 1.75rem;
  }
  body main section.bottom div.left a {
    width: 50vw;
  }
  body main section.bottom div.right {
    padding: 1rem 1.75rem;
    border-radius: 0px 0px 12px 12px;
  }
}
/*# sourceMappingURL=style.css.map */