* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: normal;
// }

// primary color
$colorCyan: hsl(179, 62%, 43%);
$colorBrightYellow: hsl(71, 73%, 54%);

// neutral color
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $lightGray;

  main {
    border: 1px solid black;
    width: 50vw;
    min-height: 55vh;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0rem;

    section.top {
      background-color: white;
      padding: 1rem 2rem;

      h1 {
        color: $colorCyan;
      }

      h2 {
        color: $colorBrightYellow;
        padding: 1rem 0rem;
      }

      p {
        color: $grayishBlue;
      }
    }

    section.bottom {
      display: flex;
      flex-wrap: wrap;

      div.left {
        background-color: $colorCyan;
        color: white;
        padding: 1rem 2rem;
        flex: 1 2 175px;
      }

      div.right {
        padding: 1rem 2rem;
        flex: 1 2 175px;
      }
    }
  }
}
